@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&family=Roboto+Slab:wght@600&display=swap');

body,html{
  background-color:#e4e4e4;
  font-family:'Montserrat',sans-serif !important;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif !important;
  }
  

/*colors and background*/
.bg-white{
  background-color:#fff;
  border-radius: 2px !important;
  border:1px #d3d2d2;
}
.bg-primary{
  color:#0EA293 !important;
}
.bg-secondary{
  color:#A9907E !important;
}

/*flex-classes*/
.flex{
  display:flex;
}
.flex-column{
  flex-direction:column;
}
.justify-center{
  justify-content:center;
}
.items-center{
  align-items:center;
}
.justify-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}
/*heights and widths*/
.h-screen{
  height:100vh;
}
.w-400{
  width:400px;
}
.w-full{
  width:100%;
}
.p-1{
  padding: 10px;
}
.p-2{
  padding: 20px;
}
.p-3{
  padding: 30px;
}
.m-1{
margin: 10px;
}
.m-2{
margin: 20px;
}
.m-3{
margin: 30px;
}
.py-1{padding-top:10px;
padding-bottom:10px;}
.py-2{padding-top:10px;
    padding-bottom:10px;}
.py-3{padding-top:10px;
    padding-bottom:10px;}
.my-1{margin-top:10px;
margin-bottom:10px;}
.my-2{margin-top:10px;
    margin-bottom:10px;}
.my-3{margin-top:10px;
        margin-bottom:10px;}
/* gaps */
.gap-1{
    gap: 10px;
}
.gap-2{
    gap: 20px;
}
.gap-3{
    gap: 30px;
}
/*form elements*/
input{
  height:45px !important;
  border: 1px solid rgb(182, 179, 179);
  padding-left: 20px;
  width:100%;
}
input:focus{
  outline:none;
  border:1px solid rgb(138, 136, 136);

}
.contained-btn{
  height:45px !important;
  border-radius: 0!important;
  background-color: black!important;
  color:white;
  text-transform:uppercase;
  padding: 0 20px;
}
.outlined-btn{
  height:45px !important;
  border-radius: 0!important;
  background-color:white!important;
  color:black;
  text-transform:uppercase;
  border:1px solid black!important;
  padding: 0 20px;
}
/*text classes*/
.text-center{
    text-align:center;
}
.uppercase{
    text-transform:uppercase;
}
.underline{
  text-decoration: underline;
  color:rgb(91, 89, 89)!important;
}
.color{
  color:rgb(75, 74, 74)!important;
}
.text-primary{
    color:#0EA293
}
.text-secondary{
    color:#A9907E
}
.cursor-pointer{
    cursor: pointer;
}
/*antd overriding*/
.ant-form-item{
  margin-bottom:10px !important;
}

/* spinner */
.spinner-parent{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.68);
  z-index: 999;
}